language: node_js
services:
    - mongodb
node_js:
    - 8
    - 10
git:
  depth: 5
cache:
  directories:
    - "node_modules"
install:
  - npm install -g codecov
scripts:
  - npm run test
  - covecov